extends layout

block content
    script(src="/public/javascripts/uploadAudio")
    
    h1= title
    p Seleccione archivo de Audio

    form#form1(enctype='multipart/form-data', method='post')
        .row
            label(for='file') Select a File to Upload
            br
            input#file(type='file', name='file', onchange='fileSelected()')
        #fileName
        #fileSize
        #fileType
        .row
            input(type='button', onclick='uploadFile()', value='Upload')
        #progressNumber
    label 
        strong Formato

    .col-4.col-md-4.col-xl-4
        select#formato.browser-default.custom-select
            option(selected='') Elija un formato 
            option(value='1') mp3
            option(value='2') ogg
            option(value='3') ac3
    label 
        strong Parametros

    .col-4.col-md-4.col-xl-4
        label Audio Bitrate:
        select#bitrate.browser-default.custom-select
            option(selected='') Elija bitrate
            option(value='48000') 48000 bps
            option(value='64000') 64000 bps
            option(value='96000') 96000 bps
            option(value='128000') 128000 bps
            option(value='256000') 256000 bps
            option(value='320000') 320000 bps
    .col-4.col-md-4.col-xl-4
        label Audio Sampling Rate:
        select#opt.browser-default.custom-select
            option(selected='') Elija sampling rate 
            option(value='16000') 16000 Hz
            option(value='32000') 32000 Hz
            option(value='44100') 44100 Hz
            option(value='48000') 48000 Hz
            option(value='96000') 96000 Hz
    .col-4.col-md-4.col-xl-4
        label Audio Channels:
        select#opt.browser-default.custom-select
            option(selected='') Elija channels 
            option(value='1') mono
            option(value='2') stereo
            


