extends layout

block content

  h1= title
  p Welcome to #{title}
    
  .row
    .col-sm-6
      .card
        .card-body
          h5.card-title AUDIO CONVERTER
          a(href='#')
            img(border='0', alt='audio', src='/images/audio.png', width='100', height='100')
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Select a target format
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Convert to ACC
            a.dropdown-item(href='#') Convert to OGG
            a.dropdown-item(href='#') Convert to MP3
          a.btn.btn-primary(href='#') GO
          

  
  .row
    p
      
  .row
    .col-sm-6
      .card
        .card-body
          h5.card-title IMAGE CONVERTER
          a(href='#')
            img(border='0', alt='audio', src='/images/imagen.png', width='100', height='100')
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Select a target format
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Convert to JPEG
            a.dropdown-item(href='#') Convert to PNG
          a.btn.btn-primary(href='#') GO

  .row
    p

  .row
    .col-sm-6
      .card
        .card-body
          h5.card-title DOC CONVERTER
          a(href='#')
            img(border='0', alt='audio', src='/images/doc.png', width='90', height='113')
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Select a target format
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href='#') Convert to DOC
            a.dropdown-item(href='#') Convert to DOCX
            a.dropdown-item(href='#') Convert to PDF
          a.btn.btn-primary(href='#') GO

  

  

    

